.features-content {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
}

.feature_item {
    text-align: center;
    max-width: 122px;
}

.features-img {
    max-width: 110px;
    margin-inline: auto;
}

.features-img img {
    width: 100%;
    height: auto;
}

.top-features-section h2 {
    color: var(--primary-color);
    margin-bottom: 0px;
    text-align: center;
}

.features-des {
    margin-top: 22px;
}

.features-des p {
    font-size: 18px;
    line-height: 1.39;
    margin-bottom: 0px;
}

.top-features-section {
    padding-block: 65px 170px;
}

.top-features-section .page-width {
    max-width: 1460px;
}

@media (max-width: 1600px) {
    .top-features-section {
        padding-block: 65px 150px;
    }
}

@media (max-width: 1200px) {
    .top-features-section {
        padding-block: 65px 120px;
    }

    .features-img {
        max-width: 100px;
    }

    .features-content {
        margin-top: 40px;
    }
    .features-des p {
        font-size: 16px;
    }
}
@media (max-width: 991px) {
    .features-des {
        margin-top: 18px;
    }    
}
@media (max-width: 768px) {
    .features-des {
        margin-top: 15px;
    }  
    .top-features-section {
        padding-block: 30px;
    }

    .features-img {
        max-width: 80px;
    }

    .features-content {
        margin-top: 20px;
    }

    .features-des p {
        font-size: 14px;
    }  

    .features-content {
        flex-wrap: wrap;
        gap: 10px;
    }
    .feature_item {     
        max-width: 80px;
    }
}